<div class="container">
  <section class="strips">
    <article class="strips__strip">
      <div class="strip__content">
        <h4 class="strip__title" data-name="Lorem">Languages</h4>
        <div class="strip__inner-text">
          <span class="content-heading color-white">Languages</span>
          <p class="skill-values"></p>
          <div class="svg">
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
              <i class="devicon-typescript-plain color-blue"><span class="color-white">Typescript</span></i>
              <i class="devicon-javascript-plain color-yellow"><span class="color-white">Javascript</span></i>
              <i class="devicon-html5-plain color-blue"><span class="color-white">HTML</span></i>
              <i class="devicon-css3-plain color-blue"><span class="color-white">CSS/SASS</span></i>
              <i class="devicons fa fa-database color-grey"><span class="color-white">SQL</span></i>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h4 class="strip__title" data-name="Ipsum">Platform</h4>
        <div class="strip__inner-text">
          <span class="content-heading">Platform</span>
          <p class="skill-values"></p>
          <div class="svg">
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
              <i class="devicon-linux-plain"><span>Linux</span></i>
              <span class="devicons devicons-java"><span>Eclipse</span></span>
              <i class="devicon-visualstudio-plain color-purple"><span class="color-black">VS(Code)</span></i>
              <i class="devicon-nodejs-plain color-pink"><span class="color-black">NodeJs</span></i>
              <i class="devicon-wordpress-plain color-pink"><span class="color-black">WordPress</span></i>
              <i class="devicon-amazonwebservices-plain color-pink"><span class="color-black">AWS</span></i>
              <!-- Need Icon -->
              <i class="devicon-google-plain color-pink"><span class="color-black">Google Analytics</span></i>
              <!-- Need Icon -->
              <i class="devicon-google-plain color-pink"><span class="color-black">Google Tag Manager</span></i>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h4 class="strip__title" data-name="Dolor">Frameworks</h4>
        <div class="strip__inner-text">
          <span class="content-heading color-white">Frameworks</span>
          <div class="svg">
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
              <i class="devicon-angularjs-plain color-red"><span class="color-white">Angular 2+</span></i>
              <i class="devicon-react-original color-purple"><span class="color-white">React</span></i>
              <i class="devicon-express-original color-blue"><span class="color-black">Express</span></i>
              <i class="devicon-django-plain color-blue"><span class="color-black">Django</span></i>
              <i class="devicon-bootstrap-plain color-purple"><span class="color-white">Bootstrap</span></i>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h4 class="strip__title" data-name="Sit">DBMS</h4>
        <div class="strip__inner-text">
          <span class="content-heading">DBMS</span>
          <div class="svg">
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
              <!-- Need Icon -->
              <i class="devicon-mongodb-plain color-grey"><span class="color-black">MongoDB</span></i>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h4 class="strip__title" data-name="Sit">Version Control System</h4>
        <div class="strip__inner-text">
          <span class="content-heading color-white">Source Control</span>
          <div class="svg">
            <div fxLayout="column" fxLayoutAlign="space-evenly start">
              <i class="devicon-github-plain color-black"><span class="color-white">Github</span></i>
            </div>
          </div>
        </div>
      </div>
    </article>
    <i class="fa fa-close strip__close" style="margin-top:5%;font-size:2em"></i>
  </section>
</div>