<section id="project-section" class="animate__animated">
  <mat-tab-group id="projectTabGroup" mat-align-tabs="center">
    <mat-tab class="inner-tabs" label="The Finishing Gourmet">
      <div class="flex-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="project-card mat-elevation-z4 animated bounceIn delay-0.75s">
          <div class="ribbon">
            <a href="https://github.com/hellochrisyou/Fantasy-Football-V2-Client">Fork me on GitHub</a>
          </div>
          <mat-card-header>
            <mat-card-title>
              <h1><u>The Finishing Gourmet</u></h1>
            </mat-card-title>
            <mat-card-subtitle>CSS / Javascript / PHP</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="projectImg" mat-card-image src="../../../assets/img/p1.png" />
          <mat-card-content>
            <p>
              <ul>
              <li>WordPress migration for Los Angeles high-class eats distributor The Finishing Gourmet</li>
              <li>eCommerce functionality with WordPress/Divi + WooCommerce</li>
            </ul>
            <br />
            <mat-chip-list fxLayout="row" fxLayoutAlign="center center">
              <mat-chip class="mat-elevation-z10">Wordpress</mat-chip>
              <mat-chip class="mat-elevation-z10">WooCommerce</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab class="inner-tabs" label="The Chamber Collective">
      <div class="flex-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="project-card mat-elevation-z4 animated bounceIn delay-0.75s">
          <div class="ribbon">
            <a href="https://github.com/hellochrisyou/-Client-Stock-Web-App-Angular-Spring">Fork me on GitHub</a>
          </div>
          <mat-card-header>
            <mat-card-title>
              <h1 class="display-1"><u>The Chamber Collective</u></h1>
            </mat-card-title>
            <mat-card-subtitle>HTML / SCSS / Javascript</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="projectImg" mat-card-image src="../../assets/img/project/stock1.png" />
          <mat-card-content>
            <p>
              <ul>
              <li>Promotional vehicle for Fitness Tech startup The Chamber Collective. This app utilized the Hubspot API to collect visitors' name and email from form-data.</li>
              <li>Media hosting with AWS / S3; dynamic resizing with Thumbor</li>
              </ul>
            <br />
            <mat-chip-list fxLayout="row" fxLayoutAlign="center center">
              <mat-chip class="mat-elevation-z10">React</mat-chip>
              <mat-chip class="mat-elevation-z10">React Router</mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>    
  </mat-tab-group>
</section>