<!-- <mat-tab-group [(selectedIndex)]="tabIndex" animationDuration="2000ms">
  <mat-tab label="HOME"><app-home></app-home></mat-tab>
  <mat-tab label="ABOUT"><app-about></app-about></mat-tab>
  <mat-tab label="PROJECTS"><app-projects></app-projects></mat-tab>
  <mat-tab label="CONTACT"><app-contact></app-contact></mat-tab>
</mat-tab-group> -->
<!-- <nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
  </a>
</nav> -->
<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ link.label }}
  </a>
</nav>
<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<!-- <div class="footer-wrapper">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <a (click)="navigateHome()">HOME</a>
    <a (click)="navigateAbout()">ABOUT</a>
    <a (click)="navigateSkills()">SKILLS</a>
    <a (click)="navigateProjects()">PROJECTS</a>
    <a (click)="navigateContact()">CONTACT</a>
  </div>
</div> -->
