<div class="container animate__animated animate__fadeIn">
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-1" data-year="Present">
          <div class="swiper-slide-content">
            <span class="timeline-year">Present</span>
            <h4 class="timeline-title">Gretrix</h4>
            <p class="timeline-text"><b>Front-end Software Engineer</b></p>
            <p>
            Knowledge of best practices in software design for production-scale web applications. <br> Well-versed in technology/design trends and project management principles.  <br>Languages:
			HTML, CSS, JavaScript, PHP, SQL <br> Frameworks/Libraries: <br> React, Node, Express, Mongoose <br> Other Tools: <br> Git/Github, Amazon Web Services, WordPress
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-2" data-year="2019-2020">
          <div class="swiper-slide-content">
            <span class="timeline-year">2019-2020</span>
            <h4 class="timeline-title">National Center for the Performing Arts Orchestra</h4>
            <p class="timeline-text"><b>Section Percussion</b></p>
            <p>
              Beijing, China <br> Performed with National Center for the Performing Arts Orchestra as section percussionist.
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-3" data-year="2014-2019">
          <div class="swiper-slide-content">
            <span class="timeline-year">2014-2019</span>
            <h4 class="timeline-title">University of Miami</h4>
            <p class="timeline-text"><b>Doctorate of Musical Arts (DMA)</b></p>
            <p>
              Pursued a doctorate in music at the University of Miami.  Fulfilled responsibilities including: <br> Dissertation, 3 Recitals, Graduate Teaching
            </p>
          </div>
        </div>
        <div class="swiper-slide slide-4" data-year="2012-2014">
          <div class="swiper-slide-content">
            <span class="timeline-year">2012-2014</span>
            <h4 class="timeline-title">Cleveland State University</h4>
            <p class="timeline-text">
              <b>Master's in Music</b></p>
			  <p>
			  <ul><li>Graduate Fellow and Teaching Assistant</li>
				  <li>Performances with members of Cleveland Orchestra</li>
				  <li>Studied with Tom Freer</li>
			  </ul>
          </div>
        </div>
        <div class="swiper-slide slide-5" data-year="2008-2012">
          <div class="swiper-slide-content">
            <span class="timeline-year">2008-2012</span>
            <h4 class="timeline-title">Mannes College for Music</h4>
            <p class="timeline-text"><b>Bachelor's in Music</b></p>
            <p>
              Pursued a Bachelor's in Music at Mannes College for Music (New School).  Curriculum included: <ul><li>Orchestra</li><li>Music Theory & Ear Training</li><li>General Education</li><li>Private lessons</li><li>Recitals</li></ul>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>